
    h1{color:green;}
    img{width:400px;}
    #thirdDiv{
        height: 600px;
        background-color:grey;
        padding: 50px;
        border:2px inset grey; 
    #spanId{font-size: 18px;}                    }